* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --background-color: #1a1a1a;
  --text-color: #f0f0f0;
  --primary-color: #6c757d;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

.main {
  display: flex;
  gap: 30px;
  margin: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 10px 30px;
  border-radius: 6px;
}
