* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --background-color: #1a1a1a;
  --text-color: #f0f0f0;
  --primary-color: #6c757d;
}

/* Apply variables to elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  display: flex;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  /* flex-flow: column nowrap; */
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.input-box {
  /* background-color: red; */
  border: 3px solid var(--primary-color);
  border-radius: 6px;
  max-width: 500px;
  margin: 300px auto;
  display: flex;
  align-items: center;
}

/* From Uiverse.io by Yaseen549 */
.input {
  color: var(--primary-color);
  background-color: var(--background-color);
  max-width: 190px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

.input:focus {
  color: var(--text-color);
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.input-box img {
  margin: 2px 2px;
  width: 35px;
  height: 34px;
  padding: 8px 4px;
  cursor: pointer;
}
